<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.*)/$" ignoreCase="false" />
                    <action type="Redirect" url="/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?cache_key={R:1}" />
                </rule>
                <rule name="index" stopProcessing="true">
                    <match url="^$" />
                    <action type="Rewrite" url="index.php?cache_key=/" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering allowDoubleEscaping="true">
                <hiddenSegments>
                    <add segment=".*" />
                </hiddenSegments>
            </requestFiltering>
        </security>
        <caching enableKernelCache="false">
            <profiles>
            </profiles>
        </caching>
        <urlCompression doDynamicCompression="true" doStaticCompression="true" />
        <staticContent>
			<clientCache cacheControlMode="UseExpires" cacheControlMaxAge="7.00:00:00" httpExpires="Thu, 01 Oct 2020 00:00:00 GMT" />
		</staticContent>
    </system.webServer>
</configuration>
